@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme {
  --font-bc: "Kavoon", serif;
}

body {
  font-family: "Poppins", sans-serif;
}

.font-love {
  font-family: "Love Light", cursive !important;
}


.header-main-section {
  background-color: #ffeb5c;
}

#navbarNav ul li a {
  @apply hover:font-bold hover:text-red-600 hover:border-b hover:border-red-600
}

#navbarNav ul li a.active {
  @apply font-bold text-red-600 border-b border-red-600
}

.hero-container .slide {
  @apply relative;
}

.hero-container .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 145, 46, 0.63);
  z-index: 1;
}

.hero-container .active::before {
  opacity: 0;
}

.hero-container .slide.active {
  @apply sm:w-[70%] w-[100%] transition-all duration-500 ease-in-out;
}

.hero-container .slide {
  @apply sm:w-[10%] w-[0%] transition-all duration-500 ease-in-out;
}

.all-products::before {
  content: "";
  height: 150px;
  width: 100%;
  background-color: #ffc20e;
  position: absolute;
  bottom: 0;
}



.about-page {
  position: relative;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.32) 100%), url("../image/about/farm.jpeg") center left/cover;
  background-attachment: fixed;
  background-position: 50%;
}

.about-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/image/about/elements\ LEAF.png") no-repeat center center/cover;
}

.product-slider-section {
  background-image: url("../image/products/BG\ ORG2.png"), url('../image/products/elements\ LEAF.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center center, top left;
  background-size: cover, cover;
}

.mySwiper1 {
  background-image: url(../image/products/BG\ ORG.png);
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
}

.mySwiper1 ul li {
  @apply flex items-center gap-2
}

.mySwiper2 img {
  max-width: 100%;
  height: 500px;
  object-fit: contain;
  object-position: left;
}

.mySwiper2 .swiper-slide img {
  scale: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.mySwiper2 .swiper-slide-prev img {
  scale: 1.2;
  transform: translateX(50px);
  position: relative;
  z-index: 3;
  opacity: 1;
}

.mySwiper2 .swiper-slide-active img {
  scale: 0.8;
  transform: translateX(80px);
  position: relative;
  z-index: 2;
  filter: blur(2px);
  opacity: 1;
}

.mySwiper2 .swiper-slide-next img {
  scale: 0.6;
  transform: translateX(50px);
  position: relative;
  z-index: 1;
  filter: blur(4px);
  opacity: 1;
}

.mySwiper1 .swiper-slide {
  display: flex;
  justify-content: start;
  align-items: center;
}

.mySwiper1 .swiper-slide h2 {
  font-size: clamp(50px, 5vw, 25px);
}

.gallery-heading {
  font-size: clamp(3rem, 15vw, 15rem); 
  -webkit-text-stroke: 2px rgb(161, 157, 157);   
  color: white;                   
  text-align: center;           
  font-weight: bolder;   
  line-height: 1;         
}

.img-card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gal-category-nav ul li{
  background-color: white;
  padding: 5px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.gal-category-nav ul li:hover{
  scale: 1.1;
}

@media(max-width: 1200px) {
  .all-products::before {
    height: 100px;
  }

  #navbarNav {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #ffeb5c;
    top: 0;
    left: -100%;
    transition: left 0.3s ease-in-out;
  }

  .mySwiper1 {
    background-size: cover;
    background-position: left;
  }

  .mySwiper2 .swiper-slide-active img {
    filter: blur(0);
    transform: translateX(0);
  }
  .mySwiper2 .swiper-slide-next img {
    filter: blur(0);
    transform: translateX(0);
  }
  .mySwiper2 .swiper-slide-prev img {
    filter: blur(0);
    transform: translateX(0);
  }

  .mySwiper2 .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}